*.pyc
*.log
*.log*
**/*.pyc
.tox/*
.DS_Store
**/.cache/
dist
.envrc
logs/
build
docs/_build/
*.idea/
~*
**/*.ipynb
**/*.csv
.vscode/
bin/
dev*/*
*.zip
**/*.egg-info
wsdl/
.venv/
venv/
.env
tests/test_env
.python-version
compose/*
**/__pycache__
dockerfile.orig
